@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter-tight);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.container {
  display: flex;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 40px;
  min-height: 100px;
}

@media screen and (max-width: 991px) {
  .container {
    grid-row-gap: 56px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    grid-row-gap: 40px;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
}

.fade-in-down {
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 1s ease-out,
    transform 1s ease-out;
}

.fade-in-up.active,
.fade-in-down.active {
  opacity: 1;
  transform: translateY(0);
}
